.tippy-box[data-theme~="error"] {
  background-color: rgb(248 113 113);
  color: white;
}
.tippy-box[data-theme~="error"][data-placement^="top"] > .tippy-arrow::before {
  border-top-color: rgb(248 113 113);
}
.tippy-box[data-theme~="error"][data-placement^="bottom"]
  > .tippy-arrow::before {
  border-bottom-color: rgb(248 113 113);
}
.tippy-box[data-theme~="error"][data-placement^="left"] > .tippy-arrow::before {
  border-left-color: rgb(248 113 113);
}
.tippy-box[data-theme~="error"][data-placement^="right"]
  > .tippy-arrow::before {
  border-right-color: rgb(248 113 113);
}
