---
import Layout from "../layouts/Layout.astro";
import { Home } from "../layouts/Home";
import { About } from "../layouts/About";
import { Skills } from "../layouts/Skills";
---

<Layout title="Welcome to Astro.">
  <main
    class="lg:container lg:max-w-lg968 mx-6 xl:mx-auto lg:px-4 lg:mx-0 xl:px-0"
  >
    <Home />
    <About />
    <Skills />
  </main>
</Layout>
