---
import HomeLayout from "../layouts/HomeLayout.astro";
import { Home } from "../layouts/Home";
import { About } from "../layouts/About";
import { Skills } from "../layouts/Skills";
import { Qualification } from "../layouts/Qualification";
import { Contact } from "../layouts/Contact";
import { Picture } from "astro-imagetools/components";
---

<HomeLayout
  SEO={{
    title: "ðŸ  Home | Ardian Eka Candra",
    description: "CV or Resume of Ardian Eka Candra.",
  }}
>
  <main
    class="mx-6 lg:container lg:mx-0 lg:max-w-lg968 lg:px-4 xl:mx-auto xl:px-0"
  >
    <Home client:visible>
      <Picture
        src="/img/profile_picture.jpg"
        alt="Main profile image"
        blur={true}
        layout="fill"
        quality={100}
      />
    </Home>
    <About client:visible>
      <Picture
        src="/img/profile_picture.jpg"
        alt="Main profile image"
        blur={true}
        layout="fill"
        quality={100}
      />
    </About>
    <Skills client:visible />
    <Qualification client:visible />
    <Contact client:visible />
  </main>
</HomeLayout>
