---
import { BxMailSend } from "../components/Icons/BxMailSend";
import { UilCalendarAlt } from "../components/Icons/UilCalendarAlt";
import { UilGithub } from "../components/Icons/UilGithub";
import { UilGlobe } from "../components/Icons/UilGlobe";
import { UilLinkedIn } from "../components/Icons/UilLinkedIn";
import { UilMapMarkerAlt } from "../components/Icons/UilMapMarkerAlt";
import ResumeLayout from "../layouts/ResumeLayout.astro";
---

<ResumeLayout
  SEO={{
    title: "📄 Resume | Ardian Eka Candra",
    description: "CV or Resume of Ardian Eka Candra.",
  }}
>
  <header class="flex justify-between space-x-8">
    <div>
      <h1 class="text-2xl font-semibold tracking-wide text-title">
        Ardian Eka Candra
      </h1>
      <h2 class="text-xl font-medium tracking-widest text-title">
        Software Engineer
      </h2>

      <p class="mt-4 text-justify text-sm">
        Full-Stack Developer with 1+ years experience in developing and managing
        modern web apps and mobile apps. Skilled in ReactJS, React Native,
        NodeJS and Serverless environment.
      </p>
    </div>
    <div class="flex-col space-y-1 text-xs">
      <p class="flex justify-end space-x-2">
        <a
          class="underline hover:text-black"
          href="mailto:business@ardianeka.my.id">business@ardianeka.my.id</a
        >
        <BxMailSend class="text-lg" />
      </p>
      <p class="flex justify-end space-x-2">
        <span>Yogyakarta, Indonesia</span>
        <UilMapMarkerAlt class="text-lg" />
      </p>
      <p class="flex justify-end space-x-2">
        <a class="underline hover:text-black" href="https://ardianeka.my.id"
          >ardianeka.my.id</a
        >
        <UilGlobe class="text-lg" />
      </p>
      <p class="flex justify-end space-x-2">
        <a class="underline hover:text-black" href="https://github.com/eekrain"
          >github.com/eekrain</a
        >
        <UilGithub class="text-lg" />
      </p>
      <p class="flex justify-end space-x-2">
        <a
          class="underline hover:text-black"
          href="https://www.linkedin.com/in/eekrain/">linkedin.com/in/eekrain</a
        >
        <UilLinkedIn class="text-lg" />
      </p>
    </div>
  </header>

  <hr class="my-6 border-t-2 border-gray-600" />

  <!-- Work Experience -->
  <div>
    <h3 class="mb-4 text-xl font-semibold text-title">Work Experience</h3>
    <ul>
      <li>
        <div class="mb-3">
          <div class="flex justify-between">
            <h4 class="text-lg font-medium">
              PT. Wahana Bumilangit Teknologi - Full-Stack Developer
            </h4>
            <p class="flex items-baseline space-x-2 text-base italic">
              <UilCalendarAlt />
              <span>2020-2021</span>
            </p>
          </div>
          <p class="text-sm">Purwokerto, Indonesia</p>
        </div>

        <ul class="list-disc text-sm">
          <li>
            Designed a CMS (Content Management System) with multi-tenant
            capabilities for villages in Puwokerto at scales.
          </li>
          <li>
            Built the CMS with NestJS for the back-end and Create React App for
            the front-end.
          </li>
          <li>
            Managing the infrastructure code and networking for the back-end
            with Docker.
          </li>
          <li>
            Built the landing page template for every villages with NextJS.
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <!-- Using 2 Column Layout -->
  <div class="mt-6 grid grid-cols-2 gap-x-2">
    <!-- Col 1 -->
    <div>
      <!-- Education -->
      <div>
        <h3 class="mb-4 text-xl font-semibold text-title">Education</h3>
        <h4 class="mb-1 text-lg font-medium">Universitas Amikom Yogyakarta</h4>
        <p class="text-base">Computer Science</p>
        <p class="flex align-baseline text-xs italic">
          <UilCalendarAlt class="mr-2" />
          2017-2022
        </p>

        <h4 class="mb-1 mt-4 text-lg font-medium">SMKN 2 Yogyakarta</h4>
        <p class="text-base">Computer & Network Engineering</p>
        <p class="flex align-baseline text-xs italic">
          <UilCalendarAlt class="mr-2" />
          2013-2016
        </p>
      </div>

      <!-- Skills -->
      <div class="mt-4">
        <h3 class="mb-4 text-xl font-semibold text-title">Skills</h3>
        <ul class="print-color-adjust-exact flex flex-wrap gap-2 text-white">
          <li class="bg-title px-2">ReactJS</li>
          <li class="bg-title px-2">React Native</li>
          <li class="bg-title px-2">Astro</li>
          <li class="bg-title px-2">SolidJS</li>
          <li class="bg-title px-2">NextJS</li>
          <li class="bg-title px-2">TailwindCSS</li>
          <li class="bg-title px-2">Git</li>
          <li class="bg-title px-2">NodeJS</li>
          <li class="bg-title px-2">tRPC</li>
          <li class="bg-title px-2">NestJS</li>
          <li class="bg-title px-2">Express</li>
          <li class="bg-title px-2">GraphQL</li>
          <li class="bg-title px-2">RestFUL</li>
          <li class="bg-title px-2">AWS Serverless</li>
          <li class="bg-title px-2">SST</li>
          <li class="bg-title px-2">Docker</li>
        </ul>
      </div>
    </div>
  </div>
</ResumeLayout>
