---
import { Toaster } from "solid-toast";
import { ScrollUp } from "../components/ScrollUp";
import { Footer } from "./Footer";
import { Header } from "./Header";
import { SEO as AstroSEO, Props as AstroSEOProps } from "astro-seo";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "../index.css";

export interface Props {
  SEO: AstroSEOProps;
}

const { SEO } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth bg-body">
  <head>
    <AstroSEO {...SEO} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/img/favicon/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="mb-16 font-normal text-normalTextColor lg:mb-0 lg:mt-16">
    <Header client:idle />
    <Toaster client:idle />
    <slot />
    <Footer />
    <ScrollUp client:idle />
  </body>
</html>
